<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-external-storage" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>External storage</name>
	<author>SpringCard (https://www.springcard.com/)</author>
	<description>
		Cordova Plugin to allow the use of external storage in Android and 'File-Sharing' for iOs by adding a permission in the AndroidManifest.xml file and a UIFileSharingEnabled key in the Info.plist file
	</description>
	<license>MIT</license>
	<platform name="ios">
		<config-file target="*-Info.plist" parent="UIFileSharingEnabled">
			<true />
		</config-file>
	</platform>
	<platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
	</platform>
</plugin>
